# Supabase Configuration
SUPABASE_URL=https://ndxvzgukeyxansipykbt.supabase.co/
SUPABASE_ANON_KEY=sb_publishable_ymemhBVM5EwzxxG4nO-_iA_cpay1bH0


# Apple Sign In (iOS)
APPLE_CLIENT_ID=your.bundle.id
APPLE_REDIRECT_URI=https://your-project.supabase.co/auth/v1/callback
